@model Colectare_pubela.Models.Cetateni

@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid mt-4" style="height: 100vh;">
    <div class="row" style="height: 20%;">
        <div class="col-12 d-flex justify-content-center align-items-center bg-primary text-white p-3 rounded shadow">
            <h2>Welcome Admin !</h2>
        </div>
    </div>

    <div class="row justify-content-center align-items-center" style="height: 60%;">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="btn-group-vertical w-100 text-center">
                <button onclick="location.href='@Url.Action("AdaugaCetatean", "Home")'" class="btn rounded btn-primary shadow btn-lg mb-4 w-100">Add Citizen</button>
                <button onclick="location.href='@Url.Action("AdaugaPubela", "Home")'" class="btn rounded btn-secondary shadow btn-lg mb-4 w-100">Add Dumpster</button>
                <button onclick="location.href='@Url.Action("AtribuirePubela", "Home")'"  class="btn rounded btn-success shadow btn-lg mb-4 w-100">Assign Dumpster</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}